includes:
  - ./vendor/nunomaduro/larastan/extension.neon
parameters:
  paths:
    - src
  level: 8
  ignoreErrors:
    - '#Unsafe usage of new static#'
  excludes_analyse:
    # This class does string-building with class-strings, which is more hassle
    # to type-hint and annotate than it's worth.
    - src/Apitizer/Support/ClassFilter.php

  checkMissingIterableValueType: false
